@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
  margin: 0;;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "SUSE", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}
body.dark-theme {
  background-color: #333;
  color: #f0f0f0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12vh;
  padding: 20px;
  background-color: #ffffff;
  color: rgb(10, 10, 10);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 120px;
  height: 10vh;
  margin-right: 10px;
}

.nav-links a {
  color: rgb(5, 5, 5);
  margin: 0 15px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #f76b6b;
}

.theme-toggle {
  background-color: #f9fbf9;
  font-size: 20px;
  color: #070707;
  border: none;
  cursor: pointer;

}

body.dark-theme  .fa-sun{
  background-color: #333;
  color: white;
}
.fa-sun{
  border-radius: 50%;
  padding: 5px;
}
.categ-cont{
  display: flex;
  width: 100%;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.categories-nav{
  
  width: 80vw
}

.categories-nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  background-color: #101010;
  padding: 5px;
  height: 9vh;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  
}

.cat-button{
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
}
.active{
  color: rgb(244, 141, 141);
}
.searchbar-div{
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar-div input{
  padding: 1rem;
  width: 70%;
  border-radius: 1rem;
  border:none;
  background-color: rgb(243, 237, 237);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.news-list ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  list-style: none;
}
.news-list ul img{
  height: 47vh;
  width: 25vw;

}
.news-list ul li{
  height: 50vh;
  width: 95vw;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 10px;
  position: relative;
  display: flex;
}
.news-list ul li p{
  margin-top: 1rem;
  color: gray;
  font-size: 18px;
}
.detail-div{
  margin-left: 5rem;
}
.news-list ul li button{
 

 margin-top: 2rem;
 padding: 15px 35px;
 border: none;
 background-color: #121111;
 color: white;
 border-radius: 5px;
}
.article-detail{
  padding: 1.5rem;
  position: relative;
}
.article-detail img{
  width: 95vw;
  height: 50vh;
  opacity: 0.9;
  margin-top: 1rem;
}
.article-detail p{
  line-height: 1.8rem;
  font-size: 18px;
  word-spacing: 0.3rem;
}

.article-detail h1{
  font-size: 50px;
}
.article-detail button{
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  padding: 0.4rem;
  border: rgb(11, 11, 11) dashed;
  font-size: 18px;
  color: blue;
}
.article-detail button:hover{
  cursor: pointer;
  transform: rotate(-10deg);
  
  color: red;
  transition: 0.5s;
}